.js-operation-settings{ data: { operations_settings_endpoint: project_settings_operations_path(@project),
  help_page: help_page_path('user/project/integrations/prometheus'),
  external_dashboard: { url: metrics_external_dashboard_url,
    help_page: help_page_path('user/project/operations/linking_to_an_external_dashboard') },
  dashboard_timezone: { setting: metrics_dashboard_timezone.upcase } } }
